<h4>Show article</h4>
<%= form_for @article do |f|   %>
<div class="row">
    <div class="small-10">
      <div class="row">
        <div class="small-10 columns">
          <%= f.text_field :title, :value => @article.title %>
        </div>
      </div>
    </div>
    <div class="small-10">
      <div class="row">
        <div class="small-10 columns">
          <%= f.text_field :text, :value =>@article.text %>
        </div>
      </div>
    </div>
 <% end %>
    <div class="small-2">
      <div class="row">
        <div class="small-10 small-offset-2 columns">
          <%= link_to 'Edit', edit_article_path(@article), class: "button" %> <%= link_to 'Back', articles_path, class:"button secondary" %>
        </div>
      </div>
    </div>
  </div>

<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

